openapi: 3.1.0
info:
  title: Books API
  description: API untuk manajemen buku
  version: 1.0.0

servers:
  - url: http://localhost:8080
  
tags:
  - name: Authentication
    description: Login & user authentication
  - name: Books
    description: Protected book API


paths:

  /authentication/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: User registered
        "400":
          description: Validation error

  /authentication/login:
    post:
      tags:
        - Authentication
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Unauthorized
                    
  /authentication/me:
    get:
      tags:
        - Authentication
      summary: Get current authenticated user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized
          
  /books:
    get:
      summary: Get list of books
      security:
        - bearerAuth: []
      tags: [Books]
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
            enum:
              - programming
              - mobile
              - backend
              - computer
              - architecture
              - uiux
              - advanced
              - functional
              - clean
              - concurrency
        - in: query
          name: year
          schema:
            type: integer
      responses:
        "200":
          description: List of books
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Book"

    post:
      summary: Create new book
      security:
        - bearerAuth: []
      tags: [Books]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookInput"
      responses:
        "201":
          description: Book created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"

  /books/{id}:
    get:
      summary: Get book by ID
      security:
        - bearerAuth: []
      tags: [Books]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Book detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"

    put:
      summary: Update book
      security:
        - bearerAuth: []
      tags: [Books]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookUpdate"
      responses:
        "200":
          description: Book updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"

    delete:
      summary: Delete book
      security:
        - bearerAuth: []
      tags: [Books]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Book deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  schemas:
    Book:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        price:
          type: integer
        type:
          type: string
        year:
          type: integer

    BookInput:
      type: object
      required: [name, price, type, year]
      properties:
        name:
          type: string
        price:
          type: integer
        type:
          type: string
        year:
          type: integer

    BookUpdate:
      type: object
      properties:
        name:
          type: string
        price:
          type: integer
        type:
          type: string
        year:
          type: integer
          
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: hery@mail.com
        password:
          type: string
          example: "123456"
          
    LoginResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
          
    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
        - confirmPassword
      properties:
        name:
          type: string
          example: Hery Hamzah
        email:
          type: string
          example: hery@mail.com
        password:
          type: string
          example: "123456"
        confirmPassword:
          type: string
          example: "123456"

    UserResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        name:
          type: string
          example: Hery Hamzah
        email:
          type: string
          example: hery@mail.com
